fieldset(id="form__input")
    p
    label(for="blog_name") Nome
    input(type="text",id="blog_name",placeholder="Il mio blog",name="name")
    p
        label(for="blog_link") Link
        input(type="text", id="blog_link", placeholder="https://blog.example.org",name="homeLink")
        label(for="blog_feed")  Feed
        input(type="text", id="blog_feed", placeholder="https://blog.example.org/feed/atom.xml",name="feedLink")
    p
        input(type="submit",value="Invia")
        input(type="reset", value="Annulla")
