html(lang='it')
  include head.pug
  body
    div.container#top(role="document")
      include header.pug
      main(role="main")
          h2="Su di noi"
          each section in about
            div(class="row")
              article
                div(class="nine columns")
                  h4=section.title
                  each paragraph in section.text
                      p!=paragraph
