html(lang='it')
  include head.pug
  body
    div.container#top(role="document")
    include header.pug
    main(role="main")
        each blog in blogs
          div(class="row")
            article
              div(class="nine columns")
                header
                    h2
                        a(href=blog.homeLink)=blog.name
