html(lang='it')
  include head.pug
  body
    div.page#top(role="document")
      include header.pug
      main(role="main")
          h2="FAQ"
          each question in questions
              article
                  h4=question.q
                  each paragraph in question.answer
                      p!=paragraph