head
    title=meta.title
    meta(property="keywords", content=meta.keywords)
    meta(property="title", content=meta.title)
    meta(property="description", content=meta.description)
    meta(property="og:title", content=meta.title)
    meta(property="og:type",content="website")
    meta(property="og:url",content=url)
    link(href="/static/normalize.css",rel="stylesheet")
    link(href="/static/skeleton.css", rel="stylesheet")
