header(role="banner")
    div(class="row", style="margin-top:6vh")
      div(class="three columns")
      div(class="nine columns")
        h1=title
    div(class="row")
      div(class="three columns")
      div(class="nine columns")
        h4
          a(href="/") Home
          a(href="/faq", style="margin-left:5vw") FAQ
          a(href="/about", style="margin-left:5vw") Su di noi
          a(href="/blogs", style="margin-left: 5vw") Blog
    div(class="row")
      div(class="three columns")
      div(class="four columns")
        p!=intro
