doctype html
html(lang='it')
    include head.pug
    body
        div.container#top(role="document")
            include header.pug
            main(role="main")
                each post in posts
                    div(class="row")
                      div(class="nine columns")
                        header
                            h4
                                a(href=post.link)=post.title
                    div(class="row")
                      div(class="nine columns")
                        h6 Pubblicato #{post.publication.format("LLLL")}
                        blockquote
                            p=post.excerpt
                            cite
                                a(href=post.homeLink) #{post.blogName}
            div(class="row")
              div(class="nine columns")
                center
                    if prevPage >= 0
                        h6 <a href="/#{prevPage}">Post più recenti</a>
                    else
                        h6 Post più recenti
                    h6 <a href="/#{nextPage}">Post più vecchi</a>
