doctype html
html(lang='it')
  include head.pug
  body
      div.container#top(role="document")
        include header.pug
        main(role="main")
          table
              caption="Blog presenti"
              thead
                  tr
                      th="Nome"
                      th="Link"
                      th="Feed"
                      th="Ultima lettura"
              tbody
                  each blog in blogs
                      tr
                          td=blog.name
                          td=blog.homeLink
                          td=blog.feedLink
                          td=blog.lastUpdate.format("LLLL")
          table
              caption="Blog in attesa"
              thead
                  tr
                      th="Nome"
                      th="Link"
                      th="Feed"
                      th="Approva"
                      th="Cancella"
              tbody
                  each blog in blogs
                      tr
                          td=blog.name
                          td=blog.homeLink
                          td=blog.feedLink
                          td
                              a(class="button primary",href="/approve/#{blog.id}"): Approva
                          td
                              a(class="button primary",href="/delete/#{blog.id}"): Cancella

          h2="Aggiungi blog"
              form(action="/manage",method="post")
                  include includes/form.pug
